<body>
    <button id="pauseButton">pause</button>
    <table width="630" style="border: 1px solid #FFFFFF;">
        <tr>
            <td>wins: </td>
            <td id="wins">-1</td>
        </tr>
        <tr>
            <td>gamesPlayed: </td>
            <td id="gamesPlayed">-1</td>
        </tr>
        <tr>
            <td>winPercent: </td>
            <td id="winPercent">0.51670</td>
            <td id="tempWinPercent">0.00000</td>
        </tr>
        <tr>
            <td>averageScore: </td>
            <td id="averageScore">-1</td>
        </tr>
    </table>
    <div id="clickDiv">myScore=0, enemyScore=0
        <br> scores: 0.00:0.00:0.00:0.00
        <br> avg: 0.00
        <br> vals: 0.00:0.00:0.00:0.00</div>
    <canvas id="myCanvas" width="420" height="420" style="border: 1px solid #FFFFFF; background-color: #7F7F7F;"></canvas>
</body>
<script src="app.js"></script>
